@use "variables" as *;

@mixin respond-to($bp) {
    @if $bp ==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $bp ==desktop {
        @media (min-width: 1024px) {
            @content;
        }
    }
}